.button {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-progress-color: white;
    -fx-text-fill: black;
}
.text-field {
    -fx-background-color: invisible;
}
#txtFieldProductName{
    -fx-text-fill: #4f0707;
}
#txtFieldSearchOptions{
    -fx-background-color: #ffb2b3;
    -fx-text-fill: black;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
#txtFieldSimilarWith{
    -fx-text-fill: #ff4c29;
}
.check-box{
    -fx-border-radius: 20;
}
#vBoxIngredients{
    -fx-background-color: #fff7ee;
}
.menu-button{
    -fx-background-color: #ff7028;
    -fx-border-color: #ff7028;
    -fx-text-fill: black;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.menu-item{
    -fx-background-color: #fff4f3;
}
#btnCreate{
    -fx-background-color: blue;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: white;
}
#btnAddToInventory{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #ff7028;
    -fx-text-fill: white;
}
#btnInvisibleOne,#btnInvisibleTwo,#btnInvisibleThree{
    -fx-background-color: invisible;
    -fx-border-color: invisible;
}
#btnSearch{
    -fx-background-color: invisible;
    -fx-border-color: #e5e5e5;
    -fx-border-radius: 0 20 20 0;
}
#prgBarAlc{
    -fx-progress-color: red;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}
#prgBarPrice{
    -fx-progress-color: #2065ff;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}
#anchorPaneIngredients{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

