.button {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-progress-color: white;
    -fx-text-fill: #cbcbcb;
}
.text-field {
    -fx-background-color: #ffb2b3;
}
#txtFieldSearchOptions{
    -fx-text-fill: black;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.combo-box{
    -fx-background-color: #ff7028;
    -fx-border-color: #ff7028;
    -fx-text-fill: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
#btnCreate{
    -fx-background-color: blue;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: white;
}
#btnAddToInventory{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #ff7028;
    -fx-text-fill: white;
}
#btnInvisibleOne,#btnInvisibleTwo,#btnInvisibleThree{
    -fx-background-color: invisible;
    -fx-border-color: invisible;
}
#btnSearch{
    -fx-background-color: invisible;
    -fx-border-color: #e5e5e5;
    -fx-border-radius: 0 20 20 0;
}

