.button{
    -fx-background-color: #ebfffa;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.button:hover{
    -fx-background-color: #6eafff;
}
#btnSearch{
    -fx-background-color: transparent;
    -fx-border-color: #4475ff;
    -fx-border-radius: 0 20 20 0;
}
#btnSearch:hover{
     -fx-border-color: #ababab;
 }
.menu-button{
    -fx-border-color: #4475ff;
    -fx-background-color: #ff6d33;
}
.menu-button:hover{
    -fx-background-color: #ffa275;
}
#txtFieldSearchOption{
    -fx-border-color: #4475ff;
    -fx-background-radius: 20 20 20 20;
}
#txtFieldSearchOption:hover{
    -fx-border-color: #ababab;
}
#menuButtonCategory{
    -fx-background-radius: 20 0 0 20;
    -fx-border-radius: 20 0 0 20;
}
#txtAreaDescription{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #581616;
}
.text-field{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
 }
#btnCreate,#btnAddToInventory{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
