.button{
    -fx-background-color: #f4fff5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.progress-bar{
    -fx-progress-color: red;
}
#btnAddIngredient,#btnSimilarProduct{
    -fx-background-color: #788bff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
#btnAddIngredient:hover,#btnSimilarProduct:hover{
    -fx-background-color: #6eafff;
}
.button:hover{
    -fx-background-color: #6eafff;
}
#btnSearch{
    -fx-background-color: transparent;
    -fx-border-color: #4475ff;
    -fx-border-radius: 0 20 20 0;
}
#btnSearch:hover{
     -fx-border-color: #ababab;
 }
#txtSearchOption:hover{
    -fx-border-color: #ababab;
}
.menu-button{
    -fx-border-color: #4475ff;
    -fx-background-color: #ff6d33;
}
.menu-button:hover{
    -fx-background-color: #ffa275;
}
#txtSearchOption{
    -fx-border-color: #4475ff;
}
#menuBtnAlcoholOption{
    -fx-background-radius: 20 0 0 20;
    -fx-border-radius: 20 0 0 20;
}
.text-field{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
 }
#btnAddIngredient,#btnSimilarProduct{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
#menuBtnBrand{
    -fx-background-radius: 0 20 20 0;
    -fx-border-radius: 0 20 20 0 ;
}